<center>

<h1>WELCOME TO THE WAITER WEBAPP</h1>

<br>
<h2>Which days are you willing to work</h2>
<br>

<form class="" action="/" method="post">
  <input type="checkbox" name="" value="">Monday
  <input type="checkbox" name="" value="">Tuesday
  <input type="checkbox" name="" value="">Wednesday
  <input type="checkbox" name="" value="">Thursday
  <input type="checkbox" name="" value="">Friday
  <input type="checkbox" name="" value="">Saturday
  <input type="checkbox" name="" value="">Sunday
</form>
</center>
