<center>

    <h1>WELCOME TO THE WAITER WEBAPP</h1>

    <br>
    <h2>Which days are you willing to work</h2>
    <br>
    {{username}}
  </center>
    <section>
      <form class="" action="" method="post">
        <br>
        <input type="checkbox" value="Monday" name="day">Monday <br>
        <input type="checkbox" value="Tueday" name="day">Tuesday <br>
        <input type="checkbox" value="Wednesday" name="day">Wednesday <br>
        <input type="checkbox" value="Thurday" name="day">Thursday <br>
        <input type="checkbox" value="Friday" name="day">Friday <br>
        <input type="checkbox" value="Saturday" name="day">Saturday <br>
        <input type="checkbox" value="Sunday" name="day">Sunday <br><br>
        <input type="submit" name="submit" value="submit">
      </form>
    </section>
    <center>
      <br>
      <br>
    <button type="button" name="button"><a href="/days">waiters available</a></button>
    <p>
      <h1 class="name1">{{name}}</h1>
        {{#each day}}
            {{this}}
        {{/each}}
        <br>
        {{mes}}
    </p>
</center>
