h1{
  font-size: 2em;
  color: red;
}
body{background-color: silver;
  /*margin: 0;*/
}
.middleBox{
  margin-left: 47.5%;
}
.name1{
  color: red
}
th , table{
  /*width: 100%*/
  border: 0.1px solid black;

}
th{
  padding: 10px;
  font-size: 42px;
}
.highlight1{
/*font-size: 1.5em;*/
  background-color: green;
}
.highlight2{
  /*font-size: 1.5em;*/
  background-color: red;
}
.highlight3{
  /*font-size: 1.5em;*/
  background-color: orange;
}
#welcome{
  font-size: 3em;
}
#login{
  background-color: rgba(255,255,255,0.2);
  text-align: left;
}
#stuff{
  background-color: rgba(255,255,255,0.2);
}
.footer{
  width: 98.9%;
  background-color: rgba(255,255,255,0.2);
  height: 5em;
  bottom: 0;
  position: absolute;
}
#output{
  background-color: rgba(255,255,255,0.2);

}
